flask~=2.1.1
openai~=0.27.0
Jinja2~=3.0.3
setuptools~=45.2.0
gunicorn==20.1.0
transformers
matplotlib
plotly
scipy
scikit-learn
redis~=3.5.3
SQLAlchemy~=1.4.29
flask_sqlalchemy
mysqlclient
mysql-connector-python